.terminalMain {
    height: 100%;
    width: 100%;
    background-color: #202028;
    border-radius: 10px;
    overflow: hidden;
}

.top {
    height: 40px;
    width: 100%;
    background-color: #15141B;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.top .left{
    display: flex;
    flex-direction: row;
}

.left .active {
    height: 32px;
    width: 250px;
    background-color: #24242D;
    margin-left: 10px;
    padding: 1rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    gap: 0.75rem 1rem;
    padding: 10px;
}

.mi i{
    font-size: 10px;
    margin-right: 12px;
}

.clo i{
    font-size: 10px;
}

.left .active::before {
    content: "";
    position: absolute;
    left: -6px;
    top: 50%;
    height: 50%;
    width: 6px;
    border-radius: 0px 0px 6px;
    background-color: transparent;
    box-shadow:0 5px 0px 0px #25252D
}

.left .active::after{
    content: "";
    position: absolute;
    background-color: transparent;
    right:-6px;
    top: 50%;
    height: 50%;
    width: 6px;
    border-radius: 0 6px 0;
    box-shadow: 0 5px 0 0 #252525;
}
.bottom{
    height: 100%;
    width: 100%;
    background-color: #202028;
    position: absolute;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.top .left .add{
    display: flex;
    margin-left: 5px;
    width: 90px;
    height: 32px;
    /* padding-top: 5px; */
    padding-bottom: 5px;
}

.left .add button{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #24242D;
    color: white;
    border:none
}

.left .add button:hover{
    background-color: rgb(143 143 163 / 0.24);
    cursor: pointer;
}

.add .ll{
    font-size: 11px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.add .rr{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.add .ll i{
    padding:  10px;
}
.add .rr i{
    padding: 10px;
}
hr{
    background-color: rgb(143 143 163 / 0.24);
    width: 1.25px;
    border: none;
}

.top .right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* background-color: red; */
}

.top .right i{
    padding: 18px;
}

.top .right i:hover{
    background-color: rgb(143 143 163 / 0.24);
    cursor: pointer;
}
