
.headerMain{
    height: 90vh;
    width: 80%;
    margin-top: 10px;
    /* background-color: red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.animatedBg {
    position: absolute;
    height: 90vh;
    width: 80%;
    background-image: url("/pc.webp");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    animation: moveRotate 4s infinite alternate ease-in-out;
  }

  /* @keyframes moveRotate {
    0% {
      transform: translate3d(0px, 0px, 0px) rotate(0deg);
    }
    50% {
      transform: translate3d(-2.035px, -4.554px, 0px) rotate(0.687deg);
    }
    100% {
      transform: translate3d(5px, 5px, 0px) rotate(-1deg);
    }
  }
   */
  

.headerMain p{
    font-size: 3.3vw;
    line-height: 4.7vw;
    position: absolute;
}


.userImage img{
    -o-object-fit: cover;
       object-fit: cover;
    height: 5vw;
    border-radius: 30px;
    width: 3.5vw;
    -webkit-animation: rotateZ 5s linear  infinite;
            animation: rotateZ 5s linear  infinite;
}

@-webkit-keyframes rotateZ{
    from{
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    to{
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
}

@keyframes rotateZ{
    from{
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    to{
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
}




.year{
    background-image: url(https://i.pinimg.com/736x/4c/9f/6f/4c9f6f6de75a115ba46e584a623d4533.jpg);
    background-size: cover;
    color:var(--year-text-color, white);
    padding: 1px 15px;
    border-radius: 35px;
    display: inline-block;
}

.dark_mode {
    --year-text-color: black;
  }

  
@media(max-width:950px){
    .headerMain{
        width: 90%;
    }
    
}


/* -------- */

.herobox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  /* background-color: red; */
}

.herobox h3{
  font-family: "Media Sans SemiCondensed"; ;
  font-size: 12vw;
  cursor: pointer;
  white-space: nowrap;
}

.herobox .passion_1{
  position: absolute;
  -webkit-text-stroke: 1px white;
  transition: 0.5s ease;
  color: transparent;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.herobox .passion_2{
  position: absolute;
  -webkit-text-stroke: 1px white;
  transition: 0.5s ease;
  color: white;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
}

.herobox_image{
  position: absolute;
  /* background-color: red; */
  height: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
}

.herobox_image img{
  height: 100%;
  animation: moveRotate 4s infinite alternate ease-in-out;
}

@keyframes moveRotate {
  0% {
    transform: translate3d(0px, 0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate3d(-5.035px, -6.554px, 0px) rotate(0.787deg);
  }
  100% {
    transform: translate3d(10px, 10px, 0px) rotate(-1deg);
  }
}


.herobox .passion_1_outline{
  position: absolute;
  -webkit-text-stroke: 1px white;
  transition: 0.5s ease;
  color: transparent;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
  
}
.herobox .passion_2_outline{
  position: absolute;
  -webkit-text-stroke: 1px white;
  transition: 0.5s ease;
  color: transparent;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.circletext{
  height: 100px;
  width: 100px;
  /* background-color: red; */
  position: absolute;
  top: 90%;
  right: 9%;
  /* left: 4%; */
}

