
.headerMain{
    height: 90vh;
    width: 80%;
    margin-top: 10px;
    /* background-color: red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.headerMain p{
    font-size: 3.3vw;
    line-height: 4.7vw;
}


.userImage img{
    -o-object-fit: cover;
       object-fit: cover;
    height: 5vw;
    border-radius: 30px;
    width: 3.5vw;
    -webkit-animation: rotateZ 5s linear  infinite;
            animation: rotateZ 5s linear  infinite;
}

@-webkit-keyframes rotateZ{
    from{
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    to{
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
}

@keyframes rotateZ{
    from{
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    to{
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
}




.year{
    background-image: url(https://i.pinimg.com/736x/4c/9f/6f/4c9f6f6de75a115ba46e584a623d4533.jpg);
    background-size: cover;
    color:var(--year-text-color, white);
    padding: 1px 15px;
    border-radius: 35px;
    display: inline-block;
}

.dark_mode {
    --year-text-color: black;
  }

  
@media(max-width:950px){
    .headerMain{
        width: 90%;
    }
    
}


