

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

.Navmain{
    margin-top: 25px;
    margin-left: 25px ;
    margin-right: 25px;
    height: 65px;
    width: 50%;
    padding: 20px 30px;
    border-radius: 40px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.16);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
}

/* Dark mode adjustments for Navbar */
.dark_mode .Navmain {
    color: white;
}

.box{
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.icon{
    font-family: "Cedarville Cursive", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.navlink{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    gap:15px;
}
.navlink a{
  font-size: 17px;
  text-decoration: none !important;
  color: inherit;
  font-weight: 500;
}

.navlink .active{
  font-weight: bold;
  background: -o-linear-gradient(359.58deg,#4AB1F1 0.58%,#566CEC 37.22%,#D749AF 73.87%,#FF7C51 112.26%);
  background: linear-gradient(90.42deg,#4AB1F1 0.58%,#566CEC 37.22%,#D749AF 73.87%,#FF7C51 112.26%);/* Gradient background */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text;
  color: transparent;
}

.connect{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.connect i{
    margin-left: 10px;
    cursor: pointer;
}


.horizantalLine{
    border-left: 1.5px solid black;
    height: 19px;;
    margin-left: 10px;
}
.dark_mode .horizantalLine{
    border-left: 1.5px solid white;
}


/* {------} */


#toggle {
    display: none;
  }
  
  #toggle-label {
    margin-left: 10px;
    cursor: pointer;
    outline: transparent;
  }
  
  #toggle-div {
    height: 20px; 
    width: 40px;  
    background-color: #357bb3;
    border-radius: 16.6px;  
    position: relative;
    overflow: hidden;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-box-shadow: inset .3px .8px .8px rgba(0, 0, 0, 0.8),
      inset -.3px -.8px .8px rgba(0, 0, 0, 0.2), .6px .6px .6px rgba(255, 255, 255, 1);
            box-shadow: inset .3px .8px .8px rgba(0, 0, 0, 0.8),
      inset -.3px -.8px .8px rgba(0, 0, 0, 0.2), .6px .6px .6px rgba(255, 255, 255, 1);
  }
  
  .backdrops {
    position: absolute;
    left: 1.6px;
    top: 1.6px;
    height: 16.6px;
    width: 16.6px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .backdrop {
    height: 33.3px;
    width: 33.3px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
  
    position: absolute;
    left: 30%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .backdrop::after,
  .backdrop::before {
    content: "";
    height: 33.3px;
    width: 33.3px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    position: absolute;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .backdrop::before {
    left: 15%;
  }
  
  .backdrop::after {
    left: 30%;
  }
  
  .clouds {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .cloud {
    position: absolute;
    right: 10%;
    top: 50%;
    background-color: #fbfbfb;
    height: 3.3px;
    width: 16.6px;
    border-radius: 0 16.6px 16.6px 16.6px;
    -webkit-transform: scale(-0.8, 0.8);
        -ms-transform: scale(-0.8, 0.8);
            transform: scale(-0.8, 0.8);
  }
  
  .cloud::before {
    content: "";
    position: absolute;
    background-color: #fbfbfb;
    height: 3.3px;
    width: 13.3px;
    bottom: 3px;
    left: 0;
    border-radius: 16.6px 16.6px 0 0px;
  }
  
  .cloud::after {
    content: "";
    position: absolute;
    background-color: #fbfbfb;
    height: 6.6px;
    width: 6.6px;
    bottom: 3px;
    left: 1.6px;
    border-radius: 100%;
  }
  
  .cloud-1 {
    top: 45%;
    right: 22%;
    -webkit-transform: scale(-0.6, 0.6);
        -ms-transform: scale(-0.6, 0.6);
            transform: scale(-0.6, 0.6);
    opacity: 0.5;
  }
  
  .cloud-2 {
    top: 20%;
    right: 0%;
    -webkit-transform: scale(-0.6, 0.6);
        -ms-transform: scale(-0.6, 0.6);
            transform: scale(-0.6, 0.6);
    opacity: 0.5;
  }
  
  .cloud-3 {
    top: 92%;
    right: 35%;
  }
  
  .cloud-4 {
    top: 85%;
    right: 10%;
    -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
            transform: scale(-1, 1);
  }
  
  .cloud-5 {
    top: 60%;
    right: -18%;
    -webkit-transform: rotateZ(-50deg) scale(-1, 1);
        -ms-transform: rotate(-50deg) scale(-1, 1);
            transform: rotateZ(-50deg) scale(-1, 1);
  }
  
  .sun-moon {
    height: 16.6px;
    width: 16.6px;
    background: -webkit-gradient(linear, left top, right top, from(#F1C428), to(#FF7C51));
    background: -o-linear-gradient(left, #F1C428, #FF7C51);
    background: linear-gradient(90deg, #F1C428, #FF7C51);
    /* Fallback solid color */
    border-radius: 100%;
    -webkit-box-shadow: 
      inset 0.3px 0.8px 0.5px rgba(255, 255, 255, 0.5),
      inset -0.3px -0.8px 0.5px rgba(0, 0, 0, 0.5), 
      0.8px 0.8px 1.6px rgba(0, 0, 0, 0.5);
            box-shadow: 
      inset 0.3px 0.8px 0.5px rgba(255, 255, 255, 0.5),
      inset -0.3px -0.8px 0.5px rgba(0, 0, 0, 0.5), 
      0.8px 0.8px 1.6px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 1.6px;
    top: 1.6px;
    -webkit-transition: 300ms ease;
    -o-transition: 300ms ease;
    transition: 300ms ease;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
  }
  
  .sun-moon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #C5C9D3;
     /* Gradient applied here */
    border-radius: 100%; /* Match the parent's border-radius */
    z-index: -1; /* Place it behind the parent */
  }
  
 
  /* NIGHT */
  
  .stars {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .star {
    position: absolute;
    left: 10%;
    top: 50%;
    height: 1px;
    width: 1px;
    border-radius: 100%;
    background-color: #c4c9d2;
    -webkit-box-shadow: 0 0 0.6px #fff;
            box-shadow: 0 0 0.6px #fff;
    -webkit-animation: twinkle 1s infinite alternate;
            animation: twinkle 1s infinite alternate;
  }
  
  .star::before {
    content: "";
    position: absolute;
    left: 300%;
    top: 300%;
    height: 0.6px;
    width: 0.6px;
    border-radius: 100%;
    background-color: #c4c9d2;
    -webkit-box-shadow: 0 0 0.6px #fff;
            box-shadow: 0 0 0.6px #fff;
  }
  
  .star::after {
    content: "";
    position: absolute;
    left: 400%;
    bottom: 400%;
    height: 0.83px;
    width: 0.83px;
    border-radius: 100%;
    background-color: #c4c9d2;
    -webkit-box-shadow: 0 0 0.6px #fff;
            box-shadow: 0 0 0.6px #fff;
  }
  
  .star-2 {
    left: 40%;
    top: 10%;
    -webkit-transform: rotateZ(75deg) scale(1.1);
        -ms-transform: rotate(75deg) scale(1.1);
            transform: rotateZ(75deg) scale(1.1);
    -webkit-animation-delay: 300ms;
            animation-delay: 300ms;
  }
  
  .star-3 {
    left: 40%;
    top: 60%;
    -webkit-transform: rotateZ(150deg) scale(0.8);
        -ms-transform: rotate(150deg) scale(0.8);
            transform: rotateZ(150deg) scale(0.8);
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms;
  }
  
  .crater {
    display: none;
    position: absolute;
    left: 30%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 5px;
    width: 5px;
    background-color: #949eb2;
    border-radius: 100%;
    -webkit-box-shadow: inset 0 0 0.5px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 0 0.5px rgba(0, 0, 0, 0.4);
  }
  
  .crater::before {
    content: "";
    height: 2.5px;
    width: 2.5px;
    position: absolute;
    top: -100%;
    left: 50%;
    background-color: #949eb2;
    border-radius: 100%;
    -webkit-box-shadow: inset 0 0 0.5px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 0 0.5px rgba(0, 0, 0, 0.4);
  }
  
  .crater::after {
    content: "";
    height: 3.3px;
    width: 3.3px;
    position: absolute;
    bottom: 40%;
    left: 150%;
    background-color: #949eb2;
    border-radius: 100%;
    -webkit-box-shadow: inset 0 0 0.5px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 0 0.5px rgba(0, 0, 0, 0.4);
  }
  
  #toggle-div.night {
    background-color: #1d1f2b;
  }
  
  input:checked ~ .clouds {
    top: 150%;
  }
  
  input:checked ~ .sun-moon {
    left: calc(100% - 18.3px);
    background-color: #c4c9d2;
    -webkit-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
            transform: rotateZ(180deg);
  }
  
  input:checked ~ .backdrops {
    left: calc(100% - 21.6px);
  }
  
  input:checked ~ .sun-moon .crater {
    display: block;
  }
  
  input:checked ~ .stars {
    top: 50%;
  }


.night {
    background-color: #1d1f2b !important;
}
  
  /* ANIMATIONS */
  
  @-webkit-keyframes twinkle {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.5;
    }
  }
  
  @keyframes twinkle {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.5;
    }
  }
  


/* {------} */



.btn-menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; 
}

.rotate-icon {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.fa-xmark {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.fa-bars {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}


@media(max-width:1350px){
  .btn-menu{
    display: block;
  }

  .navlink{
    display: none;
  }

}

@media(max-width:950px){
  .Navmain{
    width: 95%;
  }
}


