
.footerMain{
    height: 100vh;
    width: 100%;
    /* background-color: red */
    -webkit-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    /* position: absolute;
    inset: 0px; */
    z-index: -100;
    background-image: url('/footer-gradient.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1400px;
    /* background-size: contain; */
}
