
.timeline3Main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid red;
}
.tm3{
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.timeline3{
    width: 3px;
    height: 100%;
    position: absolute;
    left: calc(15% - 50.5px);
    top:0;
    background: linear-gradient(rgb(139, 77, 333),rgb(154, 103, 0));;
}
