:root {
    /* --primary-color: #E1CBFF; */
    --primary-color: #054DA7;

    /* --dark-bg2: #1D0A42; */
    --dark-bg2: #00153C;
  }
.timeline2Main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.tm2{
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.timeline2{
    width: 3px;
    height: 100%;
    position: absolute;
    left: calc(15% - 50.5px);
    top:0;
    /* background: linear-gradient(rgb(129, 77, 222),rgb(154, 103, 0)); */
    background: linear-gradient(rgb(9, 107, 222) 60%, rgb(191, 135, 0));
}

.poi2 {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgb(9, 107, 222); /* Primary text color */
    background: var(--dark-bg2, #DDF1FF); /* Dark BG with fallback */
    position: absolute;
    left: calc(15% - 49.5px);
    top: 14%;
    transform: translateX(-50%);
    border: none;
    outline: rgb(9, 107, 222) solid 2px;
    box-shadow: rgb(9, 107, 222) 0px 0px 40px 5px;
  }
  

  .pon2{
    position: absolute;
    top: 13.6%;
    left: 15%;
  }

  .pon2 h2{
    font-size: 2.3em;
  }

  .pon2 h2 span{
    display: inline;
    color: #3990FF;
    font-weight: bold;
  }

  .project{
    height: 62%;
    width: 75%;
    border: 1px solod red;
    position: absolute;
    top:22%;
    left: 15%;
  }
  .hl {
    position: absolute;
    top: 88%; /* 80% of viewport height */
    width: 75%;
    left: 15%;
    height: 1px;
    background-color: #25252d;
}

.explorepro {
    height: 9.9%;
    width: 75%;
    left: 15%;
    position: absolute;
    top: 90%;
    display: flex;
}
.explorepro .lef{
    width: 70%;
}
.explorepro .lef .to h2{
        font-size: 2.3em;
}
.explorepro .lef .to span{
    display: inline;
    font-weight: bold;
  }
.explorepro .rig{
    width: 30%;
    display: flex;
    align-items: top;
    justify-content: end;
    transition: 0.2s ease-in-out;
}

.proExplore{
    font-size: 1rem;
    height: 60%;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 5px;
}

.proExplore:hover{
    background-color: black;
    border-radius: 1px solid white;
    color: white;
    cursor: pointer;
}

.proExplore i{
    padding-left: 10px;
}
